/*#restaurant-list .restaurant-text-area {
  display:flex;flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  max-height: 160px;

}
*/
/*@media screen and (min-width: 0px)  {
#restaurant-list li {
  max-width: 100%;
  }
.filter-option {
  height: 200px;
}
}
*/
@media (min-width: 0px) and (max-width: 376px){
  #neighborhoods-label.filter-label {
    margin-left:210px;
  }
  ul#reviews-list {
    font-weight: bold;
  }
  #restaurant-name{
    font-size: 20px;
    margin: 10px 0 10px 0;
  }
}
@media only screen and (min-width: 700px) {
  #restaurant-list li {
    max-width: 50%;
  }

}
@media only screen and (min-width: 1000px) {
#restaurant-list li {
  max-width: 33%;
}
}
